*::-moz-placeholder {
color: #CCCCCC;
}
.container{
    width:1000px;
    margin:20px auto;
    background: #4b313a url('../images/background.jpg')  repeat-y;
}
.top{
    height: 50px;
    background: #333;
    /*background: #b7b7b7;*/
    /*background: #c5b6a7;*/
    position: relative;
}
#frmLogin{
    position: absolute;
    right: 20px;
    top:12px;
}
#frmLogin .txt{
    border: none;
    width: 120px;
    padding:5px 8px;
}
#frmLogin .btn{
    width: 26px;
    height: 26px;
    background: #e86549;
    border: none;
    color:#fff;
    font-weight: bold;
}
.header{
    height: 130px;
    background: #efefef;
    position: relative;
    background: #dbd1c7 url("../images/logo2.jpg") no-repeat 260px center;
}
.header h1{
    background: url("../images/logo1.png") no-repeat 0 0 ;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    margin: 16px 20px 0 20px;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    width: 224px;
    height: 98px;
    text-indent: -12em;
}
.header h1 a{
    display: block;
    height: 98px;
}
.header ul{

    list-style: none;
    position: absolute;
    right: 0px;
    top:20px;
    width: 485px;
}
.header ul li{
    float: left;
    padding:6px 0px;
    width: 115px;

    text-align: center;
}
.header ul li a{
    color:#646464;
    font-size: 11pt;
    text-decoration: none;
    font-weight: bold;
    font-family: 微软雅黑;
}
.sidebar1{
    height: 100px;
    width:210px;
    margin-left: 20px;
    float: left;

}
.listnav{
    margin:6px 0 16px 0;
}
.listnav h3{
    color: #9c0413;
    font-size: 14px;
    padding: 8px;
    border-bottom:1px solid #c85555;
}
.listnav h3 small{

    float: right;    
}
.listnav h3 small a{
    font-size: 12px;
    font-weight: normal; 
    color:#777;
    text-decoration: none;
}
.listnav h3 small a:hover{
    color:#555;
}
.listnav ul {
    list-style: none;
    margin-top: 8px;
    padding-left: 12px;
}
.listnav ul li{
    
}
.listnav ul li a{
    color:#000;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding:6px 12px;
    opacity: 0.6;

}
.listnav ul li a:hover{
    background: #ccc;
}
#frmSearch{
    padding: 8px 12px;
}

#frmSearch h3{
    padding: 8px;
    color:#9c0413;
    font-size: 14px;
}
#frmSearch p{
    text-align: center;
    padding: 4px 0px;
}
#frmSearch .txt{
    border: none;
    width: 165px;
    padding:5px 8px;
}
#frmSearch .btn{
    width: 120px;
    height: 28px;
    background: #e86549;
    border: none;
    color:#fff;
    font-size: 14px;
    font-weight: normal;
    border-radius: 3px;
}

.footer{
    height: 110px;
    line-height: 110px;
    position: relative;
    /*border: 1px solid red;*/
}

.footer h2{
    background: url("../images/logo3.png") no-repeat 0 0 ;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    margin: 6px 20px 6px 200px;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    width: 169px;
    height: 74px;
    text-indent: -12em;
}

.footer ul{
    list-style: none;
    position: absolute;
    top:40px;
    left:400px;
    /*float: left;*/
}
.footer ul li{
    float: left;
    border-right: 1px solid #959595;
    height: 16px;
    line-height: 16px;

}
.footer ul li a{
    color:#959595;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 12px;

}
.clearfloat { 
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
.content{
    width: 678px;
    min-height: 300px;
    background: #fff;
    margin: 20px 20px;
    padding:25px;
    float: right;
    filter: Alpha(opacity=60);
    -moz-opacity:.6; 
    opacity: 0.6;
}
.content h4{
    color:#333;
    font-size:16px;
    text-align:center;
    padding-bottom:4px;
    border-bottom:1px solid #333;
    }
/*新闻样式*/
.content h4{
    color:#333;
    
    font-size:16px;
    text-align:center;
    padding-bottom:6px;
    border-bottom:1px dotted #aaa;
    }
    
 .content .news_time{
    text-align:center;
    color:#555;
    padding-top: 10px;
    padding-bottom:10px;
    font-size: 12px;
    }

.news_Content{
    
    padding:12px 2px 15px 3px;
    /*height:550px;*/
    min-height:550px; 
    height:auto !important; 

    overflow:visible;
    }
.news_Content p{
    padding:2px 0px;
    text-indent:2em;
    line-height:200%;
    font-size:14px;
}
.news_Content table{
    border:0;
    border-collapse:collapse;
    border:1px double #ccc;
}
.news_Content table td{
    cursor:pointer;
    border-bottom:1px solid #CCC;
    border-right:1px solid #CCC;
    }
.news_Content table p{
    padding:0px;
    text-indent:0em;
    
    font-size:12px;
    }
    
.news_Content table caption {   
     padding: 0 0 5px 0;        
     font: italic 30px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;   
     text-align: center;   
 }
.category-list{
    margin: 10px 10px;

    width: 750px;
    min-height: 300px;

    float: left;
}
.cate{
    width:220px;
    min-height: 200px;
    float: left;
    background: #fff;
    margin:20px 0px 20px 22px;
}
.cate dl{
    padding:14px;
}
.cate dl dt{
    padding: 7px 12px;
    background: #f5f5f5;
    /*background: #4b313a;*/
    font-weight:bold;
}
.cate dl dt a{
    color:#f47032;    
    /*color:#ccc;*/
    text-decoration: none;
    display: block;
}
.cate dl dd{
    font-size: 14px;
    height: 27px;
    line-height: 27px;
    padding-left:14px;
    border-bottom: 1px dotted #ddd;
}
.cate dl dd a{
    color:#555;
    text-decoration: none;
}
.list ul li a.setTop{
    color:#900;
    font-weight:bold;
    
    }
     /*新闻列表*/

 .list h4{
    color:#333;
    
    font-size:16px;
    text-align:left;
    padding-bottom:4px;
    padding-left:20px;
    border-bottom:none;
    background:url('../images/tb_04.gif') no-repeat left center;
    
    
    margin-bottom:2px;
    font-weight:bold;
    }
.list ul{
    list-style:none;
    padding-top:8px;
    background:url('../images/lb.gif') no-repeat left top;
    }   
.list ul li{
    padding:10px 12px 6px 20px;
    position:relative;
    border-bottom:1px dashed #aaa;
    background:url('../images/tb_03.gif') no-repeat 6px 16px;
    zoom:1;
}
.list ul li.page{
    border:none;
    background:none;
    text-align:right;
    font-size: 12px;
    }
.list  ul li.bottom{
    border-bottom:none;
}
.list  ul li .Time{
    position:absolute;
    right:12px;
    color:#aaa;
    font-size: 14px;
    }
.list  ul li a{
    color:#555;
    text-decoration:none;
    font-size:11pt;
    }
div.result{
    width: 678px;
    min-height: 300px;
    background: #eee;
    margin: 20px 20px;
    padding:25px;
    float: right;
}
div.result h3{
        font-size: 16px;
        font-family: 微软雅黑;
        padding: 6px 12px;
        color:#555;
        border-bottom:1px solid #bbb;
}
div.result ul{
    list-style: none outside none;
    /*border: 3px solid blue;*/
}
div.result ul li{
    padding-left: 12px;
    /*padding-bottom:15px;*/
    position: relative;
    vertical-align: top;
    border-top: 1px dashed #ccc;
   /* border-bottom: 1px dashed #ccc;*/
    min-height: 100px;
}
div.result ul li.bottom{
     border-bottom: 1px dashed #ccc;
}
div.result li img.avatar{
     left: 0;
    position: absolute;
    top: 15px;
        height: 80px;
    width: 80px;
    cursor: pointer;
}
div.result .result-header{
        line-height: 20px;
    padding-top: 15px;
    /*padding-left: 80px;*/
    /*border: 1px solid red;*/
}
div.result .result-header a{
    text-decoration: none;
     color:#666;
    font-size: 12px;
}
.result-header .bookname{
    color:#3377aa;
    font-size: 14px;
}
div.result .result-content{
       font-size: 14px;
    line-height: 24px;
    margin-top: 6px;
    word-break: break-all;
}
.result-content p{
    word-wrap: break-word;
    color:#666;
    font-size: 12px;
}
.result-content strong{
    color:#f00;
    font-weight: bold;
}
.manu{
    padding:3px;
    margin:3px;
    /*text-align:center;*/
    text-align: right;
}
.manu a{
    border:#eee 1px solid;
    padding:2px 5px;
    margin:2px;
    color:#462e37;
    text-decoration:none;
    font-size: 12px;
}
.manu a:hover{
    border:#999 1px solid;
    color:#666;

}
.manu a:active{
    border:#999 1px solid;
    color:#666;
}
.manu .current{
    border:#462e37 1px solid;
    padding:2px 5px;
    font-weight:bold;
    margin:2px;
    color:#fff;
    background-color:#462e37;
    font-size: 12px;
}
.manu .disabled{
    border:#eee 1px solid;
    padding:2px 5px;
    margin:2px;
    color:#ddd;
}
