<extend name="Tmpl:base" />
<block name="title">搜索结果</block>
<block name="css">
<style>

</style>
</block>
<block name="content">
    <div class="result">
     <h3>搜索结果</h3>
    <ul>
            <li>
                    <a href="/library/index.php/Home/Index/bookShow/id/1.html"><img class="avatar" alt=" 孟庭苇" src="/library/public/uploads/heads/1.jpg"></a>
                    <div class="result-header">
                        <a href="/library/index.php/Home/Index/bookShow/id/1.html"><span class="bookname"> 心言手语 孟庭苇</span></a>
                    </div>
                    <div class="result-content">
                    <p> 孟庭苇 / 女 / 1970年01月01日  / 台大本科毕业 / 生活类 / 慈善 /
                    健康&nbsp;音乐&nbsp;                 /  孟庭苇（Mai），中国台湾著名女歌手。风靡90年代的情歌天后，歌坛玉女掌门人。 </p>
                    </div>
                </li>
    </ul>     


    </div>

</block>